$bg: #494742;
$text: #fff;
$blue: #2E86C1;
$orange: orange;
$topButton: #4D5656;
$bottomButton: rgb(63, 69, 77);

body {
  background: $bg;
  color: $text;
  font-family: 'Helvetica', sans-serif;
}

.display {
  height: 12vw;
  vertical-align: middle;
  text-align: right;
  font-family: lato;
  font-weight: bold;
  background-color: silver;
  margin: 1vw;
  padding-left: 15vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right: 24vw;
}

.bezel {
  background-color: rgb(76, 85, 85);
  border-radius: 1.25vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.lcd {
  background-color: rgb(129, 151, 144);
  padding: 1vw;
  border-radius: 1.25vw;
  vertical-align: middle;
  text-align: left;
  font-family: lato;
  font-weight: bold;
  font-size: 6vw;
  color: black;
}

.case {
  margin: 1vw;
}

.keypad {
  display: grid;
  grid-template-rows: repeat(4, 1fr 2fr);
  grid-template-columns: repeat(10, 1fr);
  border: solid white;
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 0vw;
  margin: 1vw;
}

.orangeLabel {
  font-size: 1.75vw;
  vertical-align: bottom;
  color: $orange;
  background: $bg;
  text-align: center;
  font-family: lato;
  padding-top: 1vw;
  width: 8vw;
}

.box {
  text-align: center;
  font-family: lato;
  font-weight: bold;
  border-radius: 1vw;
  padding: .3vw;
  width: 6vw;
  font-size: 2.25vw;
  margin-bottom: 0.5vw;
}

.top {
  height: 3vw;
}

.bottom {
  height: 2vw;
  color: $blue;
  background-color: $bottomButton;
  padding: .1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  font-size: 1.75vw;
}

.doubleTop {
  height: 13.5vw;
}

.doubleHeight {
  grid-row: span 3;
}

.doubleBottom {
  height: 2vw;
  color: $blue;
  background-color: $bottomButton;
  padding: .1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  font-size: 1.75vw;
}


.gray {
  color: white;
  background: $topButton;
  border: solid black;
  box-shadow: 0 0.25vw black;
  cursor: pointer;
  position: relative;
}

.gray:hover {
  box-shadow: 0 0.05vw black;
  top: 0.05vw;
}

.gray:active {
  box-shadow: none;
  top: 0.25vw;
}

.orange {
  color: black;
  background: $orange;
  border: solid black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0.25vw black;
  cursor: pointer;
  position: relative;
}

.orange:hover {
  box-shadow: 0 0.05vw black;
  top: 0.05vw;
}

.orange:active {
  box-shadow: none;
  top: 0.25vw;
}

.blue {
  color: black;
  background: $blue;
  border: solid black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0.25vw black;
  cursor: pointer;
  position: relative;
}

.blue:hover {
  box-shadow: 0 0.05vw black;
  top: 0.05vw;
}

.blue:active {
  box-shadow: none;
  top: 0.25vw;
}

